{% set data = {
  class: '',
  title: '',
  subtitle: ''
}|merge(data ?? {}) %}

<div class="section-title position-relative pb-3 mb-5 {{ data.class }}">
  <h5 class="fw-bold header-colors text-uppercase">{{ data.subtitle }}</h5>
  <h3 class="mb-0">{{ data.title }}</h3>
</div>