{% set data = {
  class: '',
  title: '',
  subtitle: ''
}|merge(data ?? {}) %}

<div class="section-title position-relative pb-3 mb-5 {{ data.class }}" style="max-width: 600px;">
  <h5 class="fw-bold header-colors text-uppercase">{{ data.subtitle }}</h5>
  <h2 class="mb-0">{{ data.title }}</h2>
</div>