{% extends '_layouts/base.twig' %}


{% block content %}

<div class="text-center bg-colors container-fluid bg-header-service d-flex" style="width: 100%">
    <h1 class="text-white header-service text-align-bottom align-self-end">
        Service
    </h1>
</div>

{# Content #}
<div class="justify-content-center align-center container-fluid services-content d-flex flex-column" style="width: 100%;">
    <div class="flex-column">
        <div class="d-flex justify-content-center align-center tw-mx-auto">
            <img src="https://via.placeholder.com/720x480.png" class="img-fluid mb-3 img-content-services"/>
        </div>
        <div class="justify-content-center text-center align-center mt-5 container">
            <h1 class="text-uppercase">
                Judul Service
            </h1>
            <p class="mt-5 text-start">
                Sadipscing labore amet rebum est et justo gubergren. Et eirmod ipsum sit diam ut magna lorem. Nonumy vero labore lorem sanctus rebum et lorem magna kasd, stet amet magna accusam consetetur eirmod. Kasd accusam sit ipsum sadipscing et at at sanctus et. Ipsum sit gubergren dolores et, consetetur justo invidunt at et aliquyam ut et vero clita. Diam sea sea no sed dolores diam nonumy, gubergren sit stet no diam kasd vero
                <br>
                <br>
                Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam dolores vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et. Labore ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et, clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor erat justo dolore sit invidunt.
                Diam dolor est labore duo invidunt ipsum clita et, sed et lorem voluptua tempor invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo diam lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam tempor rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at tempor sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren at lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos.

                Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam dolores vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et. Labore ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et, clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor erat justo dolore sit invidunt.
            </p>
        </div>
    </div>
</div>
{# Content end #}

{# Service #}
{% include "_includes/services.twig" %}
{# end #}

{% endblock %}