{% extends '_layouts/base.twig' %}

{% block content %}

<div class="container-fluid position-relative p-0" id="home">
	<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="w-100 height-banner" style="width: 100vw;" alt="Image"></div>
				<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					<div class="p-3" style="max-width: 900px;">
						<h5 class="text-white text-uppercase mb-3">Creative & Innovative</h5>
						<h1 class="display-1 text-white mb-md-4">Creative & Innovative Digital
							Solution</h1>
						<a href="#contact" class="btn btn-outline-light py-md-3 px-md-5">Contact
							Us</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid py-5" id="about">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-7 col-12">
				<div class="section-title position-relative pb-3 mb-5">
					<h5 class="fw-bold header-colors text-uppercase">About Us</h5>
					<h1 class="mb-0">The Best IT Solution With 10 Years of Experience</h1>
				</div>
				<p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
					amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
					clita duo justo et tempor eirmod magna dolore erat amet</p>
			</div>
			<div class="col-lg-5 col-12">
				<div class="text-center">
					<img class="img-fluid mb-3" src="{{siteUrl}}assets/img/logo_telco_prev_ui.png">
				</div>
				{# yang perlu diganti #}
				<div class="text-center text-uppercase">
					<h1 class="mb-0 fs-1 fw-bold">Telco One Point</h1>
				</div>
				{# end #}
			</div>
		</div>
	</div>
</div>
<!-- About End -->



<!-- Service Start -->
{% include "_includes/services.twig" %}
<!-- Service End -->


<!-- Contact us Start -->
<div class="container-fluid py-5" id="contact">
	<div class="container py-5">
		<div class="row">
			<div class="section-title position-relative pb-3 mb-5 text-center justify-content-center">
				<h3 class="fw-bold header-colors text-uppercase">Contact Us</h3>
				<h5 class="fw-bold text-uppercase">If You Have Any Query, Feel Free To Contact Us</h5>
			</div>
			<div class="col-lg-6">
				<div class="text-center">
					<img class="img-fluid mb-3" src="{{siteUrl}}assets/img/logo_telco_prev_ui.png">
				</div>
				<div class="text-center text-uppercase">
					<h1 class="mb-0 fs-1 fw-bold">Telco One Point</h1>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex justify-content-center mb-4 mt-2">
					<div class=" bg-colors d-flex align-items-center justify-content-center rounded"
						style="width: 60px; height: 60px;">
						<i class="bi bi-telephone-fill text-white"></i>
					</div>
					<div class="ps-4 w-50">
						<h5 class="fw-semi-bold">Call to ask any question</h5>
						<p class="text-colors mb-0">+62 081234567</p>
					</div>
				</div>
				<div class="d-flex justify-content-center mb-4 mt-2">
					<div class=" bg-colors d-flex align-items-center justify-content-center rounded"
						style="width: 60px; height: 60px;">
						<i class="bi bi-envelope-at text-white"></i>
					</div>
					<div class="ps-4 w-50">
						<h5 class="fw-semi-bold">Email to get free quote</h5>
						<p class="text-colors mb-0">info@gmail.com</p>
					</div>
				</div>
				<div class="d-flex justify-content-center mb-4 mt-2">
					<div class="bg-colors d-flex align-items-center justify-content-center rounded"
						style="width: 60px; height: 60px;">
						<i class="bi bi-geo-alt-fill text-white"></i>
					</div>
					<div class="ps-4 w-50">
						<h5 class="fw-semi-bold">Location</h5>
						<p class="text-colors mb-0">Jl Totok Kerot, Dsn. Jatisumber RT01 RW02, Ds. Watesumpak, Kec Trowulan,
							Kabupaten Mojokerto, Jawa Timur 61362</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact Us End -->

{% endblock %}